<header>
  <div class="navbar-gauche">
    <nav id="main-nav">
      <a class="link" href="/home.html">ACCUEIL</a>
      <a class="link" href="/projects.html">PROJETS</a>
      <a class="link" href="/news.html">ACTUS</a>
      <a class="link" href="/services.html">SERVICES</a>
      <span id="marker"></span>
    </nav>
  </div>

  <img
    class="logo"
    src="../assets/images/nova logo blanc fond noir  (2).png"
    alt="logo nova corporation"
  />

  <div class="navbar-droite">
    <nav>
      <a href="/contact.html">CONTACT</a>
    </nav>
  </div>
</header>

