body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}




#planet-canvas,
#stars-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: none;
  z-index: -1;
}


/* header / footer restent en flux normal */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan-container{
  color: white;
  z-index: 999;
}