body,
html {
  margin: 0;
  padding: 0;
  overflow: visible;
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: 'cousine', sans-serif;
}



main{
  color: white;
  background-color: transparent;
}

.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}
.swiper-pagination-bullet {
    background: #ffffff;
}
  
.swiper-button-next:after, .swiper-button-prev:after{
  color: #ffffff;
}

.video-container{
  background: url(../images/alexander-dummer-aS4Duj2j7r4-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}